nav {
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-end;
}

#hdr-left-fld {
  margin-right: auto;
}

#comparisons {
  padding-top: 20px;
  padding-bottom: 20px;
}
.map {
  /* width: 50dvh; */
  height: 100vh;
  --pico-primary-background: rgba(0, 0, 0, 0);
  --pico-primary-hover-background: rgba(0, 0, 0, 0);
  --pico-primary-focus: rgba(0, 0, 0, 0);
  --pico-border-width: 0;
}

.range-slider {
  height: 5px;
  background-color: #e1e9f6 !important;
  border-radius: 2px;
  position: relative;
}

.range-selected {
  height: 100%;
  left: 1%;
  right: 1%;
  position: absolute;
  border-radius: 5px;
  background-color: #1b53c0 !important;
}

.range-input {
  position: relative;
  min-height: 50px;
}

.range-input input {
  width: 100%;
  height: 5px;
  top: -7px;
  background: none;
  background-color: transparent !important;
  border-color: transparent !important;
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.range-input input::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background-color: #ddd !important;
}

.range-input input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background-color: #fff !important;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  position: relative;
  z-index: 2 !important;
  pointer-events: all;
}

.range-input input::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background-color: #fff !important;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  z-index: 2 !important;
  pointer-events: all;
}

.range-input input::-moz-range-track {
  background-color: #ddd !important;
}

/* Style the dropdown list */
.dropdown-list {
  padding: 0;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  max-height: 450px;
  overflow-y: auto;
  background-color: white;
  /* position: absolute; */
  z-index: 1000;  /* Ensure it stays above other content */
}

/* Style individual dropdown items */
.dropdown-item {
  padding: 8px;
  cursor: pointer;  /* Set the cursor to pointer for clickable items */
}

.dropdown-item:hover {
  background-color: #f0f0f0 !important;
}

.sidebar {
  height: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white !important;
  overflow-y: auto;
  padding-top: 0px;
}

.frm-footer {
  position: sticky;
  bottom: 0;
  background-color: white !important;
  z-index: 3;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}


.frm-header {
  position: sticky;
  top: 0;
  background-color: white !important;
  z-index: 3;
  padding: 10px;
  text-align: left;
}

#location-list {
  /* width: 50dvh; */
  height: 100vh;
  /* display: flex;
  align-items: flex-start; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, calc(100%/3)));
  padding: 0;
}

@media (min-width: 50em) {
  .body-grid {
      /* width: 50dvh; */
      height: 100vh;
      gap: 1.5rem;
      /* display: flex;
      align-items: flex-start; */
      display: grid;
      grid-template-columns: 1fr 4fr;
      padding: 0;
    }

    .header-grid {
      gap: 1.5rem;
      display: grid;
      grid-template-columns: 3fr 1fr;
    }
}
/* Carousel container */
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Carousel item (images) */
.carousel-item {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item.active {
  display: block;
}

/* Carousel controls */
.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}

.carousel-control.left {
  left: 0;
}

.carousel-control.right {
  right: 0;
}

/* Card styling using Pico CSS conventions */
.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin: 8px;
  padding: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* width: 100%; Set the card width */
  flex: 1 1 auto; /* Let cards grow and shrink as needed */
  min-height: 200px; /* Set a reasonable minimum height */
  max-height: 350px;
}

.card img {
  width: 100%;
  height: auto;
}

.card .content {
  flex-grow: 1; /* Fills available space with content */
  overflow: auto; /* Scrollable if content overflows */
}

.card .content h5, .card .content h6 .content p{
  margin-bottom: 0 !important;
}

.dataframe {
  max-width: 50%;
  max-height: 50%;
  overflow: auto;
}

a {
  cursor: pointer !important;
}

.table-container {
  max-width: 100%; /* Parent container width */
  max-height: 100%; /* Parent container height */
  overflow: auto; /* Ensures scrollbars when content exceeds limits */
}

.comparison-details {
  width: 100%;
  height: 100%;
}

.dataframe th {
  position: sticky;
  left: 0;
  background-color: white; /* Ensures header remains visible */
  z-index: 1; /* Keeps header above other table content */
}

/* .selected-container {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  min-height: 30px;
} */

.selected-item {
  display: inline-block;
  background-color: #e0e0e0;
  padding: 5px;
  margin-bottom: var(--pico-spacing);
  margin-left: 5px;
  border-radius: 10px;
}

.selected-item button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  margin: 0px;
  padding: 5px;
}

.body-hdr {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid #1b53c0 !important;
}